<!DOCTYPE html>
<html lang="en-US">

<head>
<title>The jQuery Example</title>
<script type="text/javascript" src="../../libs/angular-1.6.9.min.js"></script>
</head>

<body>

	<!--
	The ng-app directive initializes an AngularJS application.
	The ng-init directive initializes application data.
	The ng-model directive binds the value of HTML controls 
	(input, select, textarea) to application data. 
	/////////////////
	The ng-app directive defines the root element of an AngularJS application.
	The ng-app directive will auto-bootstrap (automatically initialize) the 
	application when a web page is loaded.
	////////////////
	The ng-model directive binds the value of HTML controls (input, select, 
	textarea) to application data.
	-->
	<div ng-app=""
		 ng-init="firstName='John';
		 		  quantity=1;
		 		  price=5;
		 		  names=['Jani','Hege','Kai'];
		 		  names2=[
					{name:'Jani',country:'Norway'},
					{name:'Hege',country:'Sweden'},
					{name:'Kai',country:'Denmark'}
				  ];
		 		  dummy=0;"> <!-- my ident style, always put a dummy here -->

		<div>
			<p>Name: <input type="text" ng-model="firstName"></p>
			<p>You wrote: {{ firstName }}</p>
		</div>

		<div>
			Quantity: <input type="number" ng-model="quantity"> 
			Costs: <input type="number" ng-model="price"> 
			<p>Total in dollar: {{ quantity * price }}</p>
		</div>

		<!-- 
		The ng-repeat directive repeats an HTML element:
		-->
		<div>
			<ul>
				<li ng-repeat="x in names">{{ x }}</li>
			</ul>
		</div>
		
		<!-- The ng-repeat directive used on an array of objects: -->
		<div>
			<ul>
  				<li ng-repeat="x in names2">{{ x.name + ', ' + x.country }}</li>
			</ul>
		</div>
	</div> <!-- ng-app -->

	<!--  ///////////////////////////////////////////// -->
	<script>
	</script>
</body>

</html>