<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/tx
         https://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/aop
         https://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 
	Let’s extend the previous example by adding another service: 
	CourseService (similar to UserService) and include it in the same 
	Spring XML + AOP declarative transaction config.
	
	1>The <aop:pointcut> expression now covers all services in x.y.service 
	package ending with Service.
	2>Both UserService and CourseService methods are wrapped in transactions 
	automatically.
	3>Any get* method → read-only transaction.
	4>Any other method (registerUser, addCourse, etc.) → default transaction.
	-->

    <!-- DataSource and Transaction Manager -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/testdb"/>
        <property name="username" value="root"/>
        <property name="password" value="password"/>
    </bean>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- Transaction Advice -->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <!-- AOP Config: Apply to both UserService and CourseService -->
    <aop:config>
        <aop:pointcut id="serviceOperation"
                      expression="execution(* x.y.service.*Service.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation"/>
    </aop:config>

    <!-- Beans -->
    <bean id="userDao" class="x.y.dao.UserDao"/>
    <bean id="courseDao" class="x.y.dao.CourseDao"/>

    <bean id="userService" class="x.y.service.UserService">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="courseService" class="x.y.service.CourseService">
        <property name="courseDao" ref="courseDao"/>
    </bean>

</beans>